@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

*{
	font-family: 'Noto Sans JP', sans-serif;
	text-decoration: none;
}

.quiz-area{
	background-color: #ffff00;
	padding: 8.5%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container{
	background-color: rgba(255,255,255,.8);
}

#quiz{
	text-indent: 10px;
	display: none;
}

#title{
	font-weight: bold;
	font-size: 2rem;
	color: red;
}

.images{
	display: flex;
	justify-content: space-between;
}

.button{
	border: 2px solid;
	border-radius: 5px;
	padding: 0 5px;
	position: relative;
	float: right;
	background-color: #f9f9f9;
	color: #000;
	margin: 0 2px; 
}

.button.active{
	background-color: #dcdcdc;
	color: #525252;
}

.button{
	position: relative;
	float: right;
}

.button a{
	text-decoration: none;
	color: #000;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#prev{
	display: none;
}

#start{
	display: none;
}
